@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition-property:
    color, background-color, border-color, transform, box-shadow;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}
